<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード変更</title>
<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>パスワード変更</h1>
<span th:text="${message}" style="color:red"></span>
<form action="/changePass" method="post" th:object="${ansSecretBean}">
	<span th:text="${question.questionContent}"></span><br>
	<input type="text" name="answer" th:value="*{answer}" placeholder="答え"><br>
	<span th:text="${message_answer}" style="color:red"></span><br>
	<input type="password" name="password" placeholder="パスワード"><br>
	<span th:text="${message_password}" style="color:red"></span><br>
	<input type="password" name="rePassword" placeholder="パスワード再入力"><br>
	<span th:text="${message_rePassword}" style="color:red"></span><br>
	<input type="submit" value="パスワード変更">
	<input type="hidden" name="question" th:value="${question.questionContent}">
	<input type="hidden" name="code" th:value="${code}">
	</form>
	<form name="reloadForm" action="/changePassFlg" target="_top">
		<input type="hidden" name="reloadFlg" id="reloadFlg" th:value="${reloadFlg}">
	</form>
</body>
<script>
		function reloadMenu(){
			//リロードフラグの取得
			var reloadFlg = document.getElementById("reloadFlg");
			//リロードフラグが1ならメニューを再読み込み
			if(reloadFlg.value == "1"){
			document.reloadForm.submit();
			}
			return;
		}
	
		window.onload = reloadMenu();
</script>
</html>