<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
</head>
<body>
<h1>新規会員登録</h1>
<form action="/registUser" method="post" th:object="${addUserBean}">
	<table border="1">
		<tr>
			<th>＊メールアドレス</th>
			<th><span th:text="*{email}"></span></th>
		</tr>
		<tr>
			<th>＊パスワード</th>
			<th>セキュリティ保護のため隠しています</th>
		</tr>
		<tr>
			<th>＊名前</th>
			<th><span th:text="*{name}"></span></th>
		</tr>
		<tr>
			<th>＊性別</th>
			<th>
			<input type="radio" name="sex" value="1" checked> 男性
			<input type="radio" name="sex" value="2"> 女性
			<input type="radio" name="sex" value="0"> 答えたくない
			</th>
		</tr>
		<tr>
			<th>＊都道府県</th>
			<th><span th:text="*{prefectures}"></span></th>
		</tr>
		<tr>
			<th>＊市町村</th>
			<th><span th:text="*{cities}"></span></th>
		</tr>
		<tr>
			<th>＊番地・部屋番号</th>
			<th><span th:text="*{house_number}"></span></th>
		</tr>
		<tr>
			<th>＊電話番号</th>
			<th><span th:text="${tel}"></span></th>
		</tr>
		<tr>
			<th>＊秘密の質問</th>
			<th>セキュリティ保護のため隠しています</th>
		</tr>
		</table>
	</form>
</body>
</html>