<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/login.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="contents">
<div class="loginBody">
<h2>本人確認</h2>
<h4>本人確認のためメールアドレスを入力してください</h4>
<form action="/emailChecker" method="post" th:object="${conUserBean}">
	<input type="text" name="email" th:value="*{email}" placeholder="メールアドレス"><br>
	<span th:text="${message_email}" style="color:red"></span><br>
	<input type="submit" value="次へ" class="button">
	</form>
	<br>
	<span>　</span>
</div>
</div>
</body>
</html>