<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1 th:text="${innBean.innName}"></h1>
<table border="1">
	<tr><th colspan="2">レビュー(星)</th>
	<div th:if="${reviewZero!=null}">
		<td><span th:text="${reviewZero}"></span></td>
	</div>
	<div th:if="${reviewAvg!=null}">
		<td th:text="${reviewAvg}"></td>
	</div>
	</tr>
	<tr><th colspan="10">ホテル詳細</th></tr>
	<tr><th colspan="2">住所</th><td th:text="${innBean.innAddress}"></td></tr>
	<tr><th colspan="2">最寄駅からのアクセス</th><td th:text="${innBean.innAccess}"></td></tr>
	<tr><th colspan="2">チェック<br>イン時間</th><td th:text="${checkinTime}"></td></tr>
	<tr><th colspan="2">チェック<br>アウト時間</th><td th:text="${checkoutTime}"></td></tr>
	<tr><th colspan="2">アメニティ<br>詳細</th><td th:text="${innBean.innAmenity}"></td></tr>
	<th:block th:if="${srcFlg==0}">
	<tr><th colspan="10"><a th:href="'/roomList/' + ${innBean.innCode} + '/' + ${innBean.innName}">部屋一覧はこちら</a></th></tr>
	</th:block>
	<th:block th:if="${srcFlg==1}">
	<tr><th colspan="10"><a th:href="'/roomList/' + ${innBean.innCode} + '/' + ${innBean.innName} + '/' + ${selPeople} + '/' + ${selRooms} + '/' + ${checkinDate} + '/' + ${checkoutDate}">部屋一覧はこちら</a></th></tr>
	</th:block>
</table>

<table border="1">
	<tr><th colspan="10">レビュー(口コミ)</th></tr>
	<tr><th colspan="2">投稿日</th><th colspan="8">投稿内容</th></tr>
	<tr th:each="rL:${reviewList}">
	<td colspan="3"><span th:text="${#dates.format(rL.reviewDatetime, 'yyyy年MM月dd日HH時mm分')}"></td>
	<td colspan="7" th:text=${rL.reviewDetail}></td>
	</tr>
</table>
</body>
</html>