<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 th:text="${innBean.innName}"></h1>
<table border="1">
	<tr><th>レビュー(星)</th><td>☆ ☆ ☆ ☆ ☆</td></tr>
	<tr><th colspan="2">ホテル詳細</th></tr>
	<tr><th>住所</th><td th:text="${innBean.innAddress}"></td></tr>
	<tr><th>最寄駅からの<br>アクセス</th><td th:text="${innBean.innAccess}"></td></tr>
	<tr><th>チェックイン<br>時間</th><td th:text="${innBean.innCheckinTime}"></td></tr>
	<tr><th>チェックアウト時間</th><td th:text="${innBean.innCheckoutTime}"></td></tr>
	<tr><th>アメニティ詳細</th><td th:text="${innBean.innAmenity}"></td></tr>
	<th:block th:if="${srcFlg==0}">
	<tr><th colspan="2"><a th:href="'/roomList/' + ${innBean.innCode} + '/' + ${innBean.innName}">部屋一覧はこちら</a></th></tr>
	</th:block>
	<th:block th:if="${srcFlg==1}">
	<tr><th colspan="2"><a th:href="'/roomList/' + ${innBean.innCode} + '/' + ${innBean.innName} + '/' + ${selPeople} + '/' + ${selRooms} + '/' + ${checkinDate} + '/' + ${checkoutDate}">部屋一覧はこちら</a></th></tr>
	</th:block>
</table>

<table border="1">
	<tr><th colspan="2">レビュー(口コミ)</th></tr>
	<tr><th>投稿日</th><th>投稿内容</th></tr>
	<tr th:each="rL:${reviewList}"><td th:text="${rL.reviewDatetime}"></td><td th:text=${rL.reviewDetail}></td></tr>
</table>
</body>
</html>