<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div th:if="${updFlg != 1}">
			<h1>宿追加</h1>
			<form method="post" action="/innAdd" th:object="${bean}">
				<span th:text="${innNameAndInnAddressMessage}" style="color:RED"></span>
				<table>
					<tr>
						<th>・名前</th>
						<td><input type="text" name="innName" th:value="*{innName}"><br>
						<span th:text="${innNameMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・住所</th>
						<td><input type="text" name="innAddress" th:value="*{innAddress}"><br>
						<span th:text="${innAddressMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・都道府県</th>
						<td>
							<select name="prefectureCode">
								<option th:each="pl:${prefecturesList}" th:text="${pl.prefecturesName}" th:value="${pl.prefecturesCode}" th:selected="${pl.prefecturesCode}==*{prefecture}"></opion>
							</select><br>
						</td>
						<td></td>
					</tr>
					<tr>
						<th>・最寄駅からのアクセス</th>
						<td><input type="text" name="innAccess" th:value="*{innAccess}"><br>
						<span th:text="${innAccessMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・チェックイン時間</th>
						<td>
							<select name="checkinTime">
								<option th:each="tl:${timeList}" th:text="${tl}" th:value="${tl}"></option>
							</select><br>
						</td>
					</tr>
					<tr>
						<th>・チェックアウト時間</th>
						<td>
							<select name="checkoutTime">
								<option th:each="tl:${timeList}" th:text="${tl}" th:value="${tl}"></option>
							</select><br>
						</td>
					</tr>
					<tr>
						<th>・アメニティ詳細</th>
						<td><textarea name="innAmenity" th:field="*{innAmenity}"></textarea><br>
						<span th:text="${innAmenityMessage}" style="color:RED"></span></td>
					</tr>
				</table>
				<input type="submit" value="登録">
			</form>
		</div>
		
		<div th:if="${updFlg == 1}">
			<h1>宿更新</h1>
			<form method="post" action="/innUpd" th:object="${bean}">
				<span th:text="${innNameAndInnAddressMessage}" style="color:RED"></span>
				<table>
					<tr>
						<th>・名前</th>
						<td><input type="text" name="innName" th:value="*{innName}"><br>
						<span th:text="${innNameMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・住所</th>
						<td><input type="text" name="innAddress" th:value="*{innAddress}"><br>
						<span th:text="${innAddressMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・都道府県</th>
						<td>
							<select name="prefectureCode">
								<option th:each="pl:${prefecturesList}" th:text="${pl.prefecturesName}" th:value="${pl.prefecturesCode}" th:selected="${pl.prefecturesCode}==*{prefecturesCode}"></option>
							</select><br>
						</td>
						<td></td>
					</tr>
					<tr>
						<th>・最寄駅からのアクセス</th>
						<td><input type="text" name="innAccess" th:value="*{innAccess}"><br>
						<span th:text="${innAccessMessage}" style="color:RED"></span></td>
					</tr>
					<tr>
						<th>・チェックイン時間</th>
						<td>
							<select name="checkinTime">
								<option th:each="tl:${timeList}" th:text="${tl}" th:value="${tl}"></option>
							</select><br>
						</td>
					</tr>
					<tr>
						<th>・チェックアウト時間</th>
						<td>
							<select name="checkoutTime">
								<option th:each="tl:${timeList}" th:text="${tl}" th:value="${tl}"></option>
							</select><br>
						</td>
					</tr>
					<tr>
						<th>・アメニティ詳細</th>
						<td><textarea name="innAmenity" th:field="*{innAmenity}"></textarea><br></td>
						<span th:text="${innAmenityMessage}" style="color:RED"></span></td>
					</tr>
					<th:block th:if="*{innInvalid == '0'}">
					<tr>
						<th>・宿の有効化・無効化</th>
						<td>
						<input type="radio" name="innInvalid" value="0" checked> 有効
						<input type="radio" name="innInvalid" value="1"> 無効
						<br></td>
					</tr>
					</th:block>
					<th:block th:if="*{innInvalid == '1'}">
					<tr>
						<th>・宿の有効化・無効化</th>
						<td>
						<input type="radio" name="innInvalid" value="0"> 有効
						<input type="radio" name="innInvalid" value="1" checked> 無効
						<br></td>
					</tr>
					</th:block>
				</table>
				<input type="hidden" name="innCode" th:value="*{innCode}">
				<input type="submit" value="更新">
			</form>
		</div>
	</body>
</html>