<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="contents">
	<h1>検索結果</h1>
	<th:block th:if="${srcListFlg==1}">
	<span th:text="${noInn_msg}"></span>
	</th:block>
	<th:block th:if="${srcListFlg==0}">
	<span th:text="${err_msg}"></span>
	<table th:each="srcInnList:${srcInnMap}">
		<tr><th><a th:href="'/innDetail/' + ${srcInnList.value[0].innCode} + '/' + ${srcInnList.value[0].innName} + '/' + ${selPeople} + '/' + ${selRooms} + '/' + ${checkinDate} + '/' + ${checkoutDate}" th:text="${srcInnList.value[0].innName}"></a></th></tr>
		<th:block th:each="sL:${srcInnList.value}">
		<tr><th><a th:href="'/roomDetail/' + ${srcInnList.value[0].innCode} + '/' + ${srcInnList.value[0].innName} + '/' + ${sL.roomCode} + '/' + ${sL.roomName} + '/' + ${selPeople} + '/' + ${selRooms} + '/' + ${checkinDate} + '/' + ${checkoutDate}" th:text="${sL.roomName}"></a></th></tr>
		</th:block>
	</table>
	</th:block>
	</div>
</body>
</html>