<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{login.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<h1>ログイン</h1>
	<form action="/login" method="post" th:object="${bean}">
		<input type="text" name="email" th:value="*{email}"placeholder="メールアドレス"><br>
		<span th:text="${message_email}" style="color: red"></span><br>
		<input type="password" name="password" placeholder="パスワード"><br>
		<span th:text="${message_password}" style="color: red"></span><br>
		<a href="/emailChecker">パスワードを忘れてしまった時</a><br> 
		<input type="submit" value="ログイン">
	</form>
</body>
</html>