<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="/" target="_top">トップ</a>
ようこそ<a href="/login" target="_top">ゲスト</a>さん
<a href="/userRegistFrame" target="_top">新規会員登録</a>
<a href="/userLoginFrame" target="_top">ログイン</a><br>
<a href="/innFrame" target="_top">トップへ</a><br>
<a href="/login" target="_top">北海道</a>
<a href="/login" target="_top">東北</a>
<a href="/login" target="_top">関東</a>
<a href="/login" target="_top">中部</a>
<a href="/login" target="_top">近畿</a>
<a href="/login" target="_top">中国・四国</a>
<a href="/login" target="_top">九州</a>
</body>
</html>