<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>menu</title>
<link th:href="@{/menu.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="cp_navi">
		<ul>
			<li><a href="/frame" target="_top">トップ</a></li>
			<li><a class="pref" href="#">都道府県 <span class="caret"></span></a>
				<div>
					<ul>
						<span th:each="rL:${ruralList}">
							<li><a th:text="${rL.ruralName}"+$nbsp; th:href="'/showRuralInn/' + ${rL.ruralCode} + '/' + ${rL.ruralName}"target="tops"></a></li>
						</span>
					</ul>
				</div></li>
			<li><a href="/userRegistFrame" target="_top">新規会員登録</a></li>
			<li><a href="/userLoginFrame" target="_top">ログイン</a></li>
			<th:block th:if="${session.login == 1}">
ようこそ<li><a href="/myFrame" target="_top"><span th:text="${session.loginUser.clientName}"></span></a></li>さん
</th:block>
<th:block th:if="${session.login == 0}">
ようこそゲストさん
</th:block>
</body>
</html>