<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1>予約一覧</h1>
		<table>
			<tr>
				<th>
					<span th:text="${message_future}"></span>
				</th>
			</tr>
			<tr>
				<th>宿名</th>
				<th>部屋名</th>
				<th>予約詳細</th>
				<th>キャンセル</th>
			</tr>
			<tr th:each="prl:${futureReservationList}">
				<td th:text="${prl.innName}"></td>
				<td th:text="${prl.roomName}"></td>
				<td><a th:href="'/reservationDetail/'+${prl.reservationCode}">予約詳細</a></td>
				<td><a th:href="'/reservationCancel/'+${prl.reservationCode}" onclick="return confirm('予約をキャンセルします。よろしいですか？')">キャンセル</a></td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<th>
					<span th:text="${message_past}"></span>
				</th>
			</tr>
			<tr>
				<th>宿名</th>
				<th>部屋名</th>
				<th>レビュー</th>
				<th>削除</th>
			</tr>
			<tr th:each="prl:${pastReservationList}">
				<td th:text="${prl.innName}"></td>
				<td th:text="${prl.roomName}"></td>
				<th:block th:if="${prl.reviewFlag=='0'}">
				<td><a th:href="'/pastReservation/'+${prl.innCode}+'/'+${prl.reservationCode}">レビュー</a></td>
				</th:block>
				<th:block th:if="${prl.reviewFlag=='1'}">
				<td>
				レビュー済み
				</td>
				</th:block>
				<td><a th:href="'/reviewDelet/'+${prl.reservationCode}">削除</a></td>
			</tr>
		</table>
		<span th:text="${message}" style="color:red"></span>
	</body>
</html>