<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/top.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<h1>履歴一覧</h1>
	<table>
		<th:block th:each="list:${viewList}">
			<tr>
				<td><span th:text="${list.inn_name}+ホテル"></span></td>
				<td><span th:text="${#dates.format(list.view_history_datetime, 'yyyy年MM月dd日HH時mm分　に閲覧')}"></td>
				<td>
					<form action="/deleteView">
						<div class="contents">
						<input type="submit" value="削除"  class="button"> 
						<input type="hidden" name="code" th:value="${list.view_history_code}">
						</div>
					</form>
				</td>
			</tr>
		</th:block>
</body>
</html>