<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>検索フォーム</h1><hr>
<span th:text="${err_msg}" style="color:red"></span>
<form action="/search" method="post" th:object="${bean}">
	チェックイン日
	<input type="date" name="checkinDate" th:value="*{checkinDate}" required><br>
	チェックアウト日
	<input type="date" name="checkoutDate" th:value="*{checkoutDate}" required><br>
	都道府県選択<br>
	<select name="selPrefectures">
		<option th:each="pl:${prefecturesList}"
				th:text="${pl.prefecturesName}"
				th:value="${pl.prefecturesCode}"
				th:selected="${pl.prefecturesCode}==*{prefecturesCode}"></option>
	</select><br>
	一人当たりの料金<br>
	<select name="selLowPrice" >
		<option th:each="pL:${priceList}"
				th:text="${pL}"
				th:value="${pL}"></option>
	</select>円から<br>
	<select name="selHighPrice">
		<option th:each="pL:${priceList}"
				th:text="${pL}"
				th:value="${pL}"
				th:selected="${pL}==*{selPrice}"></option>
	</select>円まで<br>
	一部屋当たりの人数<br>
	<select name="selPeople">
		<option th:each="sL:${selectList}"
				th:text="${sL}"
				th:value="${sL}"
				th:selected="${sL}==*{selPeople}"></option>
	</select>人<br>
	部屋数<br>
	<select name="selRooms">
		<option th:each="sL:${selectList}"
				th:text="${sL}"
				th:value="${sL}"
				th:selected="${sL}==*{selRooms}"></option>
	</select>部屋<br>
	<input type="submit" value="検索">
</form>
</body>
</html>