<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 th:text="${innName} + 部屋一覧"></h1>
<table border="1">
	<tr th:each="rL:${roomList}">
		<th:block th:if="${srcFlg==0}">
		<td><a th:href="'/roomDetail/' + ${innCode} + '/' + ${innName} + '/' + ${rL.roomCode} + '/' + ${rL.roomName}" th:text="${rL.roomName}"></a></td>
		</th:block>
		<th:block th:if="${srcFlg==1}">
		<td><a th:href="'/roomDetail/' + ${innCode} + '/' + ${innName} + '/' + ${rL.roomCode} + '/' + ${rL.roomName} + '/' + ${selPeople} + '/' + ${selRooms} + '/' + ${checkinDate} + '/' + ${checkoutDate}" th:text="${rL.roomName}"></a></td>
		</th:block>
	</tr>
</table>
</body>
</html>