@charset "UTF-8";
.loginBody{
	left:20%;
	top:10%;
	width: 30%;
	padding: 0.5em 1em;
    margin: 50% 50% 50% 50%;
    font-weight: bold;
    color: #696969;/*文字色*/
    text-align: center;
    background-color: #c0c0c0;
    border: solid 3px #696969;/*線*/
    border-radius: 10px;/*角の丸み*/
	margin : auto;
}
.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #7f7f7f;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #7f7f7f;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #7f7f7f;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
.contents{
	  margin-left: auto;
      margin-right: auto;
      text-align: center;
}