@charset "UTF-8";

body{
	color:#ffffff;
}

.masterUl{
	display:-wedkit-flex;
	display:flex;
}

.hikouki{

}


.cp_navi {
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 1%;
	overflow: hidden;
	width: 98%;
}
ul {
	margin: 0;
	padding: 0;
	color: #ffffff;
}
li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}

a {
	color: #ffffff;
	font-weight:bold;
	display: block;
	line-height: 56px;
	padding: 0 10px;
	text-decoration: none;
}
li:hover {
	background-color: rgb(218, 60, 65);
}
li:hover > a {
	color: rgb( 255, 255, 255 );
}