@charset "UTF-8";

body{
	font-weight :bold
}

h1{
  margin-top:100px;
  color:#ffffff;
  font-size:50px;
  text-align:center;
  text-transform:uppercase;
  font-family:cursive,serif;
}

table{
  margin:auto;
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  font-family:cursive,serif;
  padding: 10px 0;
}

table th{
  background-color: #696969;
  color: white;
  border:solid 1px #787878;
}

table td{
  background-color: #aaa;
  border:solid 1px #bcbcbc;
}


.cp_link {
	padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: #fff;
}
.cp_link::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0;
	transition: .3s;
}
.cp_link:hover::after {
	bottom: 0;
	opacity: 1;
}

a{
	color:#fff;
	text-decoration: none;
}

a:hover{
	color:#fff;
	text-decoration: underline;
}

.room{
	background-color: #aaa;
}

.room:hover{
	background-color: #bbb;
}

.inn{
	background-color: #696969;
}

.inn:hover{
	background-color: #565656;
}
.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #7f7f7f;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #7f7f7f;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #7f7f7f;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
.contents{
	  margin-left: auto;
      margin-right: auto;
      text-align: center;
}

.del{
	background-color:transparent;
	border:none;
	text-align: left;
}
