@charset "UTF-8";

h1{
  font-family:arial;
  margin-top:100px;
  color:#ffffff;
  font-size:50px;
  text-align:center;
  text-transform:uppercase;
}

table{
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

table td{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
}

.cp_link {
	padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: #FF8F00;
}
.cp_link::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #FF8F00;
	opacity: 0;
	transition: .3s;
}
.cp_link:hover::after {
	bottom: 0;
	opacity: 1;
}